html {
  font-family: Rubik;
  color: var(--primary-black);
  background-color: var(--primary-white);
}
body {
  font-size: calc(10px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
.h1,
.h2 {
  font-weight: 500;
}

.page-title {
  font-size: 4.5em;
}
.first-page {
  padding-left: 10vw;
  padding-right: 9vw;
  .first-page__item {
    padding-right: 1vw;
  }
}

.work-experience {
  padding-left: 9vw;
  padding-right: 10vw;
  .work-experience__item {
    padding-left: 1vw;
  }
}
.first-page__item {
  margin-top: 16px;
}
.first-page__item,
.work-experience__item {
  padding-bottom: 5vh;
}

.work-experience__item {
  /* padding-left: 1vw; */
}
.first-page {
  /* margin-bottom: var(--about-margin-bottom); */
}

.work-experience {
  /* margin-top: var(--about-margin-bottom); */
}

.first-page {
  position: relative;
  display: flex;
  .first-page__description {
    font-size: 1.5rem;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: auto;
  margin-left: auto;
  row-gap: 16px;
}
.socials-links {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-decoration: none;
}
a.socials-links:hover {
  text-decoration: underline;
}
.first-page__description {
  opacity: 1;
}

.overlay {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 98%;
  background-color: var(--overlay-background);
  z-index: -2;
}

.transition-underline {
  position: relative;
  white-space: nowrap;
}
.transition-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0ch;
  right: 100%;
  /* right: calc(100% - 0.9ch); */
  bottom: 0%;
  /* animation: collapseOut 200ms ease-in-out ; */
  background-color: var(--highlight-color);
}

.transition-underline:hover::before {
  /* animation: expandIn 3s ease-in-out; */
}
.work-experience {
  .h2 {
    &.work-experience__section-name {
      font-size: 3.5rem;
      line-height: 1.2;
    }
    &.work-experience__item-title {
      font-size: 2.5rem;
    }
  }
  .work-experience__item-company,
  .work-experience__item-duration,
  .work-experience__description {
    font-size: 1.5rem;
  }
  .work-experience__project-list__list-item {
    font-size: 1.3rem;
    .work-experience__project {
      &.link {
        text-decoration: none;
        color: var(--primary-black);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.work-experience__item-line {
  margin-right: 24px;
  margin-bottom: 30px;
  margin-top: 4px;
  border: var(--experience-line-width) solid var(--experience-line-color);
}

.work-experience__item-wrapper {
  display: flex;
  align-items: flex-start;
}

.work-experience__projects-list {
  row-gap: 8px;
  margin-top: 4px;
}
.header {
  padding-block: 16px;
  padding-inline: 12px;
  background-color: var(--overlay-background);
  gap: 8px;
}
.header .icon {
  --size: 32px;
  display: inline-block;
  height: var(--size);
  width: var(--size);
}
.first-page__experience-line {
  border: var(--experience-line-width) solid var(--experience-line-color);
}

.curve__bottom-right {
  height: var(--curve-size);
  width: var(--curve-size);
  border-bottom-right-radius: var(--super-large-value);
  border-right: calc(var(--experience-line-width) * 2) solid
    var(--experience-line-color);
  border-bottom: calc(var(--experience-line-width) * 2) solid
    var(--experience-line-color);
  z-index: 1;
}
.first-page__bottom-line {
  border: var(--experience-line-width) solid var(--experience-line-color);
  /* bottom: calc(0px - var(--about-margin-bottom)); */
  clip-path: inset(0px 0px calc(0px + var(--super-large-value)) 0px);
  right: calc(0% + var(--curve-size));
}

.curve__top-left {
  --curve-size: 24px;
  height: var(--curve-size);
  width: var(--curve-size);
  border-top-left-radius: var(--super-large-value);
  border-left: calc(var(--experience-line-width) * 2) solid
    var(--experience-line-color);
  border-top: calc(var(--experience-line-width) * 2) solid
    var(--experience-line-color);
  z-index: 1;
  top: -4px;
}
.contact-section {
  background-color: var(--primary-yellow);
  padding-block: 2rem;
  padding-inline: 1rem;
}
.resume {
  font-size: 2rem;
}
.resume__link {
  color: var(--primary-purple);
}
