.flex {
  display: flex;
}
.self-start {
  align-self: flex-start;
}
.flex-column {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.ml-auto {
  margin-left: auto;
}
.primary-black {
  color: var(--primary-black);
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.align-end {
  align-items: flex-end;
}
.justify-end {
  justify-content: flex-end;
}

.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.bottom-0 {
  bottom: 0;
}
.rounded {
  border-radius: 0.25rem;
}

.rounded-top {
  --value: 0.25rem;
  border-top-left-radius: var(--value);
  border-top-right-radius: var(--value);
}
